/* tags */
body{
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
}
button,label{
    cursor: pointer;
}
h1{
    font-size: 48px;
    line-height: 125%;
    margin: 0;
}
h2{
    font-size: 36px;
    line-height: 125%;
}
img{
    border: 0;
}
textarea{
    overflow-y: scroll;
}
/* classes */
.center{
    text-align: center;
}
.container{
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 20px);
    width: 730px;
}
.containerMedio{
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 20px);
    width: 355px;
}
.formHorizontal input,
.formHorizontal textarea{
    font-size: 24px;
    max-width: calc(100% - 12px);
    width: 100%;
}
.gray{
    color:gray;
}
